/* fonts */

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

/* comman */

.to-uppercase {
    text-transform: uppercase;
}

.line-height {
    line-height: 22px;
}

.coll-1-2 {
    display: flex;
    flex-direction: column;
    width: 45%;
}

/* about me block */

.about-me {
    display: block;
    margin: 0 auto;
    max-width: 960px;
    font-family: Georgia, serif;
    color: #34342E;
}

.about-me a {
    color: #34342E;
}

.greeting {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* avatar section  */

.avatar-section {
    display: flex;
}

.avatar-block img {
    padding: 5px;
    max-width: 300px;
    border: solid 5px #3e74c5;
    border-radius: 50%;
}

.personal-data-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: -30px;
}

.personal-data-block h3 {
    position: absolute;
    top: -5%;
}

.personal-data-block_info li {
    padding-bottom: 10px;
    list-style-type: none;
}

/* personal data block  */

.date-of-birth {
    margin-left: 18px;
}

.location {
    margin-left: 30px;
}

.mobile {
    margin-left: 37px;
}

.e-mail {
    margin-left: 37px;
}

.skype {
    margin-left: 30px;
}

.github {
    margin-left: 18px;
}

/* objective  */

.objective-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}

.objective-section span {
    margin-left: 20px;
}

/* skills grid  */

.skills-block {
    display: flex;
    justify-content: center;
}

.tech-skills-section {
    min-height: 170px;
    max-height: 180px;
    min-width: 300px;
}

.relevant-experience-section {
    min-height: 170px;
    min-width: 300px;
    max-height: 180px;
}

.languages-section {
    max-height: 190px;
    min-width: 300px;
}

.education-section {
    min-width: 300px;
    max-height: 190px;
}

/* several facts block  */

.several-facts-section {
    margin-left: 20px;
    margin-top: 30px;
}

.several-facts-section ul {
    margin-left: 10px;
}

/* prev job section  */

.prev-job-section {
    margin-top: 40px;
    margin-left: 20px;
    min-width: 300px;
}

.prev-job-section h4 {
    margin-left: 20px;
}

.prev-job-section ul {
    margin-left: 10px;
}

/* droping projects block  */

.projects-images {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0;
}

.projects-images-details:focus, .projects-images-details summary:focus {
    outline: none;
}

.projects-images img {
    max-width: 400px;
    padding: 5px;
}

.projects-images-details {
    margin-top: -15px;
    margin-left: 52px;
}